extends baseEmail 

doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:o="urn:schemas-microsoft-com:office:office")
  head
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    meta(name="x-apple-disable-message-reformatting")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(content="telephone=no", name="format-detection")
    title

    include _style
    //
      [if (mso 16)]>
      <style type="text/css">
      a {text-decoration: none;}
      </style>
      <![endif]
    // [if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]
    //
      [if gte mso 9]>
      <xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG></o:AllowPNG>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
      </xml>
      <![endif]
    // [if !mso]><!--
    link(href="https://fonts.googleapis.com/css2?family=Raleway&display=swap", rel="stylesheet")
    // <![endif]
  body
    .es-wrapper-color
      //
        [if gte mso 9]>
        <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
        <v:fill type="tile" color="#E3E0D1"></v:fill>
        </v:background>
        <![endif]
      table.es-wrapper(width="100%", cellspacing="0", cellpadding="0")
        tbody
          tr
            td.esd-email-paddings(valign="top")
              table.esd-header-popover.es-header(cellpadding="0", cellspacing="0", align="center")
                tbody
                  tr
                    td.esd-stripe(align="center")
                      table.es-header-body(bgcolor="#f5f5f5", align="center", cellpadding="0", cellspacing="0", width="600")
                        tbody
                          tr
                            td.esd-structure.es-p20.esdev-adapt-off(align="left")
                              table.esdev-mso-table(width="560", cellpadding="0", cellspacing="0")
                                tbody
                                  tr
                                    td.esdev-mso-td(valign="top")
                                      table.es-left(cellpadding="0", cellspacing="0", align="left")
                                        tbody
                                          tr
                                            td.es-m-p0r.esd-container-frame(width="50", valign="top", align="center")
                                              table(cellpadding="0", cellspacing="0", width="100%")
                                                tbody
                                                  tr
                                                    td.esd-block-image.es-m-p10t(align="center", style="font-size: 0px;")
                                                      a(target="_blank", href="https://viewstripo.email")
                                                        img.adapt-img(src="https://zyshij.stripocdn.email/content/guids/CABINET_45443a5316ba4da0e31cd685fc11c282cf78664eaa950763c39d7944902eab41/images/juneimg.jpg", alt="Logo", style="display: block;", title="Logo", width="50")
                                    td(width="20")
                                    td.esdev-mso-td(valign="top")
                                      table.es-right(cellpadding="0", cellspacing="0", align="right")
                                        tbody
                                          tr
                                            td.esd-container-frame(width="490", align="left")
                                              table(cellpadding="0", cellspacing="0", width="100%")
                                                tbody
                                                  tr
                                                    td.esd-block-menu(esd-tmp-menu-padding="0|5", esd-tmp-menu-size="width|20")
                                                      table.es-menu(cellpadding="0", cellspacing="0", width="100%")
                                                        tbody
                                                          tr.links-images-left
                                                            td.es-p10t.es-p10b.es-p5r.es-p5l(align="right", valign="top", width="100%", style="padding-top: 0px; padding-bottom: 5px;")
                                                              a(target="_blank", href="tel:+(000)12345678")
                                                                img.es-p5r(src="https://zyshij.stripocdn.email/content/guids/CABINET_f9b681866b7172614cb6827f88990357/images/nounphone1191720.png", alt="+ (000) 123 456 78", title="+ (000) 123 456 78", align="absmiddle", width="20")
                                                                | + (000) 123 456 78
                                                  tr
                                                    td.esd-block-menu(esd-tmp-menu-padding="5|0", esd-tmp-menu-size="width|20")
                                                      table.es-menu(cellpadding="0", cellspacing="0", width="100%")
                                                        tbody
                                                          tr.links-images-left
                                                            td.es-p10t.es-p10b.es-p5r.es-p5l(align="right", valign="top", width="100%", style="padding-top: 5px; padding-bottom: 0px;")
                                                              a(target="_blank", href="mailto:guarantee@email.com")
                                                                img.es-p5r(src="https://zyshij.stripocdn.email/content/guids/CABINET_f9b681866b7172614cb6827f88990357/images/nounemail1191722.png", alt="guarantee@email", title="guarantee@email", align="absmiddle", width="20")
                                                                | guarantee@email
              table.es-content(cellpadding="0", cellspacing="0", align="center")
                tbody
                  tr
                    td.esd-stripe(align="center")
                      table.es-content-body(bgcolor="#ffffff", align="center", cellpadding="0", cellspacing="0", width="600", style="background-color: #ffffff;")
                        tbody
                          tr
                            td.esd-structure.es-p20t.es-p30r.es-p30l.es-m-p0t(align="left", bgcolor="#F5F5F5", style="background-color: #f5f5f5; border-radius: 0px 0px 80px; background-image: url(https://zyshij.stripocdn.email/content/guids/CABINET_f9b681866b7172614cb6827f88990357/images/frame_38.png); background-repeat: no-repeat; background-position: center center;", background="https://zyshij.stripocdn.email/content/guids/CABINET_f9b681866b7172614cb6827f88990357/images/frame_38.png")
                              table(cellpadding="0", cellspacing="0", width="100%")
                                tbody
                                  tr
                                    td.esd-container-frame(width="540", align="center", valign="top")
                                      table(cellpadding="0", cellspacing="0", width="100%", style="background-image: url(https://zyshij.stripocdn.email/content/guids/CABINET_f9b681866b7172614cb6827f88990357/images/pngegg_55_Ye2.png); background-repeat: no-repeat; background-position: center 110px;", background="https://zyshij.stripocdn.email/content/guids/CABINET_f9b681866b7172614cb6827f88990357/images/pngegg_55_Ye2.png")
                                        tbody
                                          tr
                                            td.esd-block-text.es-p5t.es-p40r.es-p40l.es-m-p0t.es-m-p0r.es-m-p0l(align="center")
                                              h1(style="line-height: 150%;") We Look Forward to Seeing&amp;nbsp;You
                                          tr
                                            td.esd-block-text.es-m-txt-c.es-p20t.es-p20b(align="center")
                                              p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                          tr.es-mobile-hidden
                                            td.esd-block-image(align="center", style="font-size: 0px;")
                                              a(target="_blank", href="https://viewstripo.email")
                                                img.adapt-img(src="https://zyshij.stripocdn.email/content/guids/CABINET_f9b681866b7172614cb6827f88990357/images/pexelsannashvets3727464.jpg", alt, style="display: block; border-radius: 200px 100px 0 0", width="400")
              table.es-content(cellpadding="0", cellspacing="0", align="center")
                tbody
                  tr
                    td.esd-stripe(align="center")
                      table.es-content-body(bgcolor="#F5F5F5", align="center", cellpadding="0", cellspacing="0", width="600", style="background-color: #f5f5f5;")
                        tbody
                          tr
                            td.esd-structure.es-p40t.es-p30r.es-p30l(align="left", bgcolor="#ffffff", style="background-color: #ffffff; border-radius: 80px 0px 0px;")
                              table(cellpadding="0", cellspacing="0", width="100%")
                                tbody
                                  tr
                                    td.esd-container-frame(width="540", align="center", valign="top")
                                      table(cellpadding="0", cellspacing="0", width="100%")
                                        tbody
                                          tr
                                            td.esd-block-text(align="left")
                                              h2 Hello Clement Robinson!
                                          tr
                                            td.esd-block-spacer.es-p10t.es-p10b(align="center", style="font-size:0")
                                              table(border="0", width="100%", height="100%", cellpadding="0", cellspacing="0")
                                                tbody
                                                  tr
                                                    td(style="border-bottom: 3px solid #e3e0d1; background: unset; height: 1px; width: 100%; margin: 0px;")
              table.es-content(cellpadding="0", cellspacing="0", align="center")
                tbody
                  tr
                    td.esd-stripe(align="center")
                      table.es-content-body(bgcolor="#ffffff", align="center", cellpadding="0", cellspacing="0", width="600", style="background-color: #ffffff;")
                        tbody
                          tr
                            td.esd-structure.es-p30t.es-p30r.es-p30l(align="left")
                              // [if mso]><table width="540" cellpadding="0" cellspacing="0"><tr><td width="260" valign="top"><![endif]
                              table.es-left(cellpadding="0", cellspacing="0", align="left")
                                tbody
                                  tr
                                    td.es-m-p20b.esd-container-frame(width="260", align="left")
                                      table(cellpadding="0", cellspacing="0", width="100%")
                                        tbody
                                          tr
                                            td.esd-block-text(align="left")
                                              p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                              // [if mso]></td><td width="20"></td><td width="260" valign="top"><![endif]
                              table.es-right(cellpadding="0", cellspacing="0", align="right")
                                tbody
                                  tr
                                    td.esd-container-frame(width="260", align="left")
                                      table(cellpadding="0", cellspacing="0", width="100%")
                                        tbody
                                          tr
                                            td.esd-block-text(align="left")
                                              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&amp;nbsp;
                              // [if mso]></td></tr></table><![endif]
                          tr
                            td.esd-structure.es-p30t.es-p30r.es-p30l(align="left")
                              table(cellpadding="0", cellspacing="0", width="100%")
                                tbody
                                  tr
                                    td.esd-container-frame(width="540", align="center", valign="top")
                                      table(cellpadding="0", cellspacing="0", width="100%")
                                        tbody
                                          tr
                                            td.esd-block-spacer.es-p10t.es-p10b(align="center", style="font-size:0")
                                              table(border="0", width="100%", height="100%", cellpadding="0", cellspacing="0")
                                                tbody
                                                  tr
                                                    td(style="border-bottom: 3px solid #e3e0d1; background: unset; height: 1px; width: 100%; margin: 0px;")
                                          tr
                                            td.esd-block-text(align="left")
                                              ul
                                                li(style="line-height: 120%;")
                                                  p(style="line-height: 120%;") Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                                li(style="line-height: 120%;")
                                                  p(style="line-height: 120%;") Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                li(style="line-height: 120%;")
                                                  p(style="line-height: 120%;") Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
              table.es-content(cellpadding="0", cellspacing="0", align="center")
                tbody
                  tr
                    td.esd-stripe(align="center")
                      table.es-content-body(bgcolor="#ffffff", align="center", cellpadding="0", cellspacing="0", width="600")
                        tbody
                          tr
                            td.esd-structure.es-p30(align="left", bgcolor="#ffffff", style="background-color: #ffffff; border-radius: 0px 0px 0px 80px;")
                              table(cellpadding="0", cellspacing="0", width="100%")
                                tbody
                                  tr
                                    td.esd-container-frame(width="540", align="center", valign="top")
                                      table(cellpadding="0", cellspacing="0", width="100%")
                                        tbody
                                          tr
                                            td.esd-block-button(align="center")
                                              //
                                                [if mso]><a href="https://viewstripo.email" target="_blank" hidden>
                                                <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" esdevVmlButton href="https://viewstripo.email"
                                                style="height:41px; v-text-anchor:middle; width:161px" arcsize="50%" strokecolor="#1b3d37" strokeweight="2px" fillcolor="#ffffff">
                                                <w:anchorlock></w:anchorlock>
                                                <center style='color:#1b3d37; font-family:Raleway, Arial, sans-serif; font-size:15px; font-weight:700; line-height:15px;  mso-text-raise:1px'>View Full List</center>
                                                </v:roundrect></a>
                                                <![endif]
                                              // [if !mso]><!--
                                              span.msohide.es-button-border(style="border-width: 2px; background: #ffffff; border-color: #1b3d37;")
                                                a.es-button(href="https://viewstripo.email", target="_blank", style="color: #1b3d37; background: #ffffff; border-color: #ffffff;") View Full List
                                              // <![endif]
              table.es-content(cellpadding="0", cellspacing="0", align="center")
                tbody
                  tr
                    td.esd-stripe(align="center")
                      table.es-content-body(bgcolor="#ffffff", align="center", cellpadding="0", cellspacing="0", width="600", style="background-color: #ffffff;")
                        tbody
                          tr
                            td.esd-structure.es-p40t.es-p30r.es-p30l(align="left", bgcolor="#f5f5f5", style="background-color: #f5f5f5; border-radius: 0px 80px 0px 0px;")
                              table(cellpadding="0", cellspacing="0", width="100%")
                                tbody
                                  tr
                                    td.esd-container-frame(width="540", align="center", valign="top")
                                      table(cellpadding="0", cellspacing="0", width="100%")
                                        tbody
                                          tr
                                            td.esd-block-text(align="left")
                                              h2 Invoice
                                          tr
                                            td.esd-block-spacer.es-p10t.es-p10b(align="center", style="font-size:0")
                                              table(border="0", width="100%", height="100%", cellpadding="0", cellspacing="0")
                                                tbody
                                                  tr
                                                    td(style="border-bottom: 3px solid #e3e0d1; background: unset; height: 1px; width: 100%; margin: 0px;")
                                          tr
                                            td.esd-block-text.es-p5t(align="left", esd-links-color="#1B3D37", esd-links-underline="underline")
                                              p(style="font-size: 14px;")
                                                em July
              table.es-content(cellpadding="0", cellspacing="0", align="center")
                tbody
                  tr
                    td.esd-stripe(align="center")
                      table.es-content-body(bgcolor="#ffffff", align="center", cellpadding="0", cellspacing="0", width="600")
                        tbody
                          tr
                            td.esd-structure.es-p20t.es-p30r.es-p30l.esdev-adapt-off(align="left")
                              table.esdev-mso-table(width="540", cellpadding="0", cellspacing="0")
                                tbody
                                  tr
                                    td.esdev-mso-td(valign="top")
                                      table.es-left(cellpadding="0", cellspacing="0", align="left")
                                        tbody
                                          tr
                                            td.esd-container-frame(width="380", align="center", valign="top")
                                              table(cellpadding="0", cellspacing="0", width="100%")
                                                tbody
                                                  tr
                                                    td.esd-block-text(align="left")
                                                      p Task description
                                    td(width="20")
                                    td.esdev-mso-td(valign="top")
                                      table.es-right(cellpadding="0", cellspacing="0", align="right")
                                        tbody
                                          tr
                                            td.esd-container-frame(width="140", align="left")
                                              table(cellpadding="0", cellspacing="0", width="100%")
                                                tbody
                                                  tr
                                                    td.esd-block-text(align="left")
                                                      p Amount
                          tr
                            td.esd-structure.es-p30r.es-p30l(align="left")
                              table(cellpadding="0", cellspacing="0", width="100%")
                                tbody
                                  tr
                                    td.esd-container-frame(width="540", align="center", valign="top")
                                      table(cellpadding="0", cellspacing="0", width="100%")
                                        tbody
                                          tr
                                            td.esd-block-spacer.es-p10t.es-p10b(align="center", style="font-size:0")
                                              table(border="0", width="100%", height="100%", cellpadding="0", cellspacing="0")
                                                tbody
                                                  tr
                                                    td(style="border-bottom: 1px solid #e3e0d1; background: unset; height: 1px; width: 100%; margin: 0px;")
                          tr
                            td.esd-structure.es-p10t.es-p10b.es-p30r.es-p30l.esdev-adapt-off(align="left")
                              table.esdev-mso-table(width="540", cellpadding="0", cellspacing="0")
                                tbody
                                  tr
                                    td.esdev-mso-td(valign="top")
                                      table.es-left(cellpadding="0", cellspacing="0", align="left")
                                        tbody
                                          tr
                                            td.esd-container-frame(width="380", align="center", valign="top")
                                              table(cellpadding="0", cellspacing="0", width="100%")
                                                tbody
                                                  tr
                                                    td.esd-block-text(align="left")
                                                      h3 Building a mobile app
                                                  tr
                                                    td.esd-block-text.es-p15t(align="left")
                                                      p(style="line-height: 150%;") This mobile app will let&amp;nbsp;your clients pay for their orders online. And will let them track their orders&apos;&amp;nbsp;shipment.
                                    td(width="20")
                                    td.esdev-mso-td(valign="top")
                                      table.es-right(cellpadding="0", cellspacing="0", align="right")
                                        tbody
                                          tr
                                            td.esd-container-frame(width="140", align="left")
                                              table(cellpadding="0", cellspacing="0", width="100%")
                                                tbody
                                                  tr
                                                    td.esd-block-text(align="left")
                                                      p $850
                          tr
                            td.esd-structure.es-p30r.es-p30l(align="left")
                              table(cellpadding="0", cellspacing="0", width="100%")
                                tbody
                                  tr
                                    td.esd-container-frame(width="540", align="center", valign="top")
                                      table(cellpadding="0", cellspacing="0", width="100%")
                                        tbody
                                          tr
                                            td.esd-block-spacer.es-p10t.es-p10b(align="center", style="font-size:0")
                                              table(border="0", width="100%", height="100%", cellpadding="0", cellspacing="0")
                                                tbody
                                                  tr
                                                    td(style="border-bottom: 1px solid #e3e0d1; background: unset; height: 1px; width: 100%; margin: 0px;")
                          tr
                            td.esd-structure.es-p10t.es-p10b.es-p30r.es-p30l.esdev-adapt-off(align="left")
                              table.esdev-mso-table(width="540", cellpadding="0", cellspacing="0")
                                tbody
                                  tr
                                    td.esdev-mso-td(valign="top")
                                      table.es-left(cellpadding="0", cellspacing="0", align="left")
                                        tbody
                                          tr
                                            td.esd-container-frame(width="380", align="center", valign="top")
                                              table(cellpadding="0", cellspacing="0", width="100%")
                                                tbody
                                                  tr
                                                    td.esd-block-text(align="left")
                                                      h3 Opening 150 new offline stores
                                                  tr
                                                    td.esd-block-text.es-p15t(align="left")
                                                      p(style="line-height: 150%;") For in-store pick-up. Users book online and then visit your offline stores to try on some pieces of clothing and to &quot;taste&quot; the aromas.&amp;nbsp;
                                    td(width="20")
                                    td.esdev-mso-td(valign="top")
                                      table.es-right(cellpadding="0", cellspacing="0", align="right")
                                        tbody
                                          tr
                                            td.esd-container-frame(width="140", align="left")
                                              table(cellpadding="0", cellspacing="0", width="100%")
                                                tbody
                                                  tr
                                                    td.esd-block-text(align="left")
                                                      p $850
                          tr
                            td.esd-structure.es-p30r.es-p30l(align="left")
                              table(cellpadding="0", cellspacing="0", width="100%")
                                tbody
                                  tr
                                    td.esd-container-frame(width="540", align="center", valign="top")
                                      table(cellpadding="0", cellspacing="0", width="100%")
                                        tbody
                                          tr
                                            td.esd-block-spacer.es-p10t.es-p10b(align="center", style="font-size:0")
                                              table(border="0", width="100%", height="100%", cellpadding="0", cellspacing="0")
                                                tbody
                                                  tr
                                                    td(style="border-bottom: 1px solid #e3e0d1; background: unset; height: 1px; width: 100%; margin: 0px;")
                          tr
                            td.esd-structure.es-p10t.es-p10b.es-p30r.es-p30l.esdev-adapt-off(align="left")
                              table.esdev-mso-table(width="540", cellpadding="0", cellspacing="0")
                                tbody
                                  tr
                                    td.esdev-mso-td(valign="top")
                                      table.es-left(cellpadding="0", cellspacing="0", align="left")
                                        tbody
                                          tr
                                            td.esd-container-frame(width="380", align="center", valign="top")
                                              table(cellpadding="0", cellspacing="0", width="100%")
                                                tbody
                                                  tr
                                                    td.esd-block-text(align="left")
                                                      h3 Packing and shipping orders 24/7
                                                  tr
                                                    td.esd-block-text.es-p15t(align="left")
                                                      p(style="line-height: 150%;") You hire our &quot;Shipment&quot; team. They cover night shifts and weekends so you perform delivery 24/7.
                                    td(width="20")
                                    td.esdev-mso-td(valign="top")
                                      table.es-right(cellpadding="0", cellspacing="0", align="right")
                                        tbody
                                          tr
                                            td.esd-container-frame(width="140", align="left")
                                              table(cellpadding="0", cellspacing="0", width="100%")
                                                tbody
                                                  tr
                                                    td.esd-block-text(align="left")
                                                      p $850
                          tr
                            td.esd-structure.es-p30r.es-p30l(align="left")
                              table(cellpadding="0", cellspacing="0", width="100%")
                                tbody
                                  tr
                                    td.esd-container-frame(width="540", align="center", valign="top")
                                      table(cellpadding="0", cellspacing="0", width="100%")
                                        tbody
                                          tr
                                            td.esd-block-spacer.es-p10t.es-p10b(align="center", style="font-size:0")
                                              table(border="0", width="100%", height="100%", cellpadding="0", cellspacing="0")
                                                tbody
                                                  tr
                                                    td(style="border-bottom: 1px solid #e3e0d1; background: unset; height: 1px; width: 100%; margin: 0px;")
              table.es-content(cellpadding="0", cellspacing="0", align="center")
                tbody
                  tr
                    td.esd-stripe(align="center")
                      table.es-content-body(bgcolor="#ffffff", align="center", cellpadding="0", cellspacing="0", width="600", style="background-color: #ffffff;")
                        tbody
                          tr
                            td.esd-structure.es-p10t.es-p30b.es-p30r.es-p30l.esdev-adapt-off(align="left", bgcolor="#f5f5f5", style="background-color: #f5f5f5; border-radius: 0px 0px 80px; background-image: url(https://zyshij.stripocdn.email/content/guids/CABINET_f9b681866b7172614cb6827f88990357/images/frame_38_Q7f.png); background-repeat: no-repeat; background-position: right top;", background="https://zyshij.stripocdn.email/content/guids/CABINET_f9b681866b7172614cb6827f88990357/images/frame_38_Q7f.png")
                              table.esdev-mso-table(width="540", cellpadding="0", cellspacing="0")
                                tbody
                                  tr
                                    td.esdev-mso-td(valign="top")
                                      table.es-left(cellpadding="0", cellspacing="0", align="left")
                                        tbody
                                          tr
                                            td.esd-container-frame(width="380", align="center", valign="top")
                                              table(cellpadding="0", cellspacing="0", width="100%")
                                                tbody
                                                  tr
                                                    td.esd-block-text(align="right")
                                                      p Subtotal
                                                      p(style="display: none;")
                                                        br
                                                  tr
                                                    td.esd-block-text.es-p10t(align="right")
                                                      p Discounts
                                                      p(style="display: none;") &amp;nbsp;
                                                      p
                                                  tr
                                                    td.esd-block-text.es-p10t.es-m-txt-r(align="right")
                                                      h3 Total
                                    td(width="20")
                                    td.esdev-mso-td(valign="top")
                                      table.es-right(cellpadding="0", cellspacing="0", align="right")
                                        tbody
                                          tr
                                            td.esd-container-frame(width="140", align="left")
                                              table(cellpadding="0", cellspacing="0", width="100%")
                                                tbody
                                                  tr
                                                    td.esd-block-text(align="left")
                                                      p $2550
                                                  tr
                                                    td.esd-block-text.es-p10t(align="left")
                                                      p $250
                                                  tr
                                                    td.esd-block-text.es-p10t(align="left")
                                                      h3 $2300
              table.es-content(cellpadding="0", cellspacing="0", align="center")
                tbody
                  tr
                    td.esd-stripe(align="center")
                      table.es-content-body(bgcolor="#ffffff", align="center", cellpadding="0", cellspacing="0", width="600")
                        tbody
                          tr
                            td.esd-structure.es-p30(align="left", bgcolor="#ffffff", style="background-color: #ffffff; border-radius: 80px 0px 0px;")
                              table(cellpadding="0", cellspacing="0", width="100%")
                                tbody
                                  tr
                                    td.esd-container-frame(width="540", align="center", valign="top")
                                      table(cellpadding="0", cellspacing="0", width="100%")
                                        tbody
                                          tr
                                            td.esd-block-button(align="center")
                                              //
                                                [if mso]><a href="" target="_blank" hidden>
                                                <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" esdevVmlButton href=""
                                                style="height:41px; v-text-anchor:middle; width:196px" arcsize="50%" stroke="f"  fillcolor="#1b3d37">
                                                <w:anchorlock></w:anchorlock>
                                                <center style='color:#e3e0d1; font-family:Raleway, Arial, sans-serif; font-size:15px; font-weight:700; line-height:15px;  mso-text-raise:1px'>Download Invoice</center>
                                                </v:roundrect></a>
                                                <![endif]
                                              // [if !mso]><!--
                                              span.msohide.es-button-border
                                                a.es-button(href, target="_blank") Download Invoice
                                              // <![endif]
              table.es-content(cellpadding="0", cellspacing="0", align="center")
                tbody
                  tr
                    td.esd-stripe(align="center")
                      table.es-content-body(bgcolor="#ffffff", align="center", cellpadding="0", cellspacing="0", width="600")
                        tbody
                          tr
                            td.esd-structure.es-p30t.es-p40b.es-p30r.es-p30l(align="left", bgcolor="#ffffff", style="background-color: #ffffff; border-radius: 0px 0px 0px 80px;")
                              // [if mso]><table width="540" cellpadding="0" cellspacing="0"><tr><td width="145" valign="top"><![endif]
                              table.es-left(cellpadding="0", cellspacing="0", align="left")
                                tbody
                                  tr.es-mobile-hidden
                                    td.esd-container-frame.es-m-p20b(width="125", align="center", valign="top")
                                      table(cellpadding="0", cellspacing="0", width="100%")
                                        tbody
                                          tr
                                            td.esd-block-spacer(align="center", height="40")
                                    td.es-hidden(width="20")
                              // [if mso]></td><td width="250" valign="top"><![endif]
                              table.es-left(cellpadding="0", cellspacing="0", align="left")
                                tbody
                                  tr
                                    td.esd-container-frame(width="250", align="left")
                                      table(cellpadding="0", cellspacing="0", width="100%")
                                        tbody
                                          tr
                                            td.esd-block-image(align="center", style="font-size: 0px;")
                                              a(target="_blank", href="https://viewstripo.email")
                                                img.adapt-img(src="https://zyshij.stripocdn.email/content/guids/CABINET_f9b681866b7172614cb6827f88990357/images/group_284.png", alt="Dustin Lane", style="display: block;", width="250", title="Dustin Lane")
                                  tr
                                    td.esd-container-frame.es-m-p20b(width="250", align="left")
                                      table(cellpadding="0", cellspacing="0", width="100%", bgcolor="#F5F5F5", style="background-color: #f5f5f5; border-radius: 0 0 20px 20px; border-collapse: separate;")
                                        tbody
                                          tr
                                            td.esd-block-text.es-p10t.es-p15r.es-p15l.es-m-txt-c(align="center")
                                              h3 Dustin Lane
                                              p CEO of&amp;nbsp;Guarantee
                                          tr
                                            td.esd-block-spacer.es-p10t.es-p15b(align="center", style="font-size:0")
                                              table(border="0", width="100%", height="100%", cellpadding="0", cellspacing="0")
                                                tbody
                                                  tr
                                                    td(style="border-bottom: 1px solid #e3e0d1; background: unset; height: 1px; width: 100%; margin: 0px;")
                                          tr
                                            td.esd-block-menu(esd-tmp-menu-padding="0|5", esd-tmp-menu-size="width|20")
                                              table.es-menu(cellpadding="0", cellspacing="0", width="100%")
                                                tbody
                                                  tr.links-images-left
                                                    td.es-p10t.es-p10b.es-p5r.es-p5l(align="center", valign="top", width="100%", style="padding-top: 0px; padding-bottom: 5px;")
                                                      a(target="_blank", href="tel:+(000)12345678")
                                                        img.es-p5r(src="https://zyshij.stripocdn.email/content/guids/CABINET_f9b681866b7172614cb6827f88990357/images/nounphone1191720.png", alt="+ (000) 123 456 78", title="+ (000) 123 456 78", align="absmiddle", width="20")
                                                        | + (000) 123 456 78
                                          tr
                                            td.esd-block-menu(esd-tmp-menu-padding="5|0", esd-tmp-menu-size="width|20")
                                              table.es-menu(cellpadding="0", cellspacing="0", width="100%")
                                                tbody
                                                  tr.links-images-left
                                                    td.es-p10t.es-p10b.es-p5r.es-p5l(align="center", valign="top", width="100%", style="padding-top: 5px; padding-bottom: 0px;")
                                                      a(target="_blank", href="mailto:guarantee@email.com")
                                                        img.es-p5r(src="https://zyshij.stripocdn.email/content/guids/CABINET_f9b681866b7172614cb6827f88990357/images/nounemail1191722.png", alt="guarantee@email", title="guarantee@email", align="absmiddle", width="20")
                                                        | guarantee@email
                                          tr
                                            td.esd-block-social.es-p15t.es-p15b(align="center", style="font-size:0")
                                              table.es-table-not-adapt.es-social(cellpadding="0", cellspacing="0")
                                                tbody
                                                  tr
                                                    td.es-p20r(align="center", valign="top")
                                                      a(target="_blank", href="https://viewstripo.email")
                                                        img(src="https://zyshij.stripocdn.email/content/assets/img/social-icons/logo-black/facebook-logo-black.png", alt="Fb", title="Facebook", height="24")
                                                    td.es-p20r(align="center", valign="top")
                                                      a(target="_blank", href="https://viewstripo.email")
                                                        img(src="https://zyshij.stripocdn.email/content/assets/img/social-icons/logo-black/twitter-logo-black.png", alt="Tw", title="Twitter", height="24")
                                                    td.es-p20r(align="center", valign="top")
                                                      a(target="_blank", href="https://viewstripo.email")
                                                        img(src="https://zyshij.stripocdn.email/content/assets/img/social-icons/logo-black/instagram-logo-black.png", alt="Ig", title="Instagram", height="24")
                                                    td(align="center", valign="top")
                                                      a(target="_blank", href="https://viewstripo.email")
                                                        img(src="https://zyshij.stripocdn.email/content/assets/img/social-icons/logo-black/youtube-logo-black.png", alt="Yt", title="Youtube", height="24")
                              // [if mso]></td><td width="20"></td><td width="125" valign="top"><![endif]
                              table.es-right(cellpadding="0", cellspacing="0", align="right")
                                tbody
                                  tr.es-mobile-hidden
                                    td.esd-container-frame(width="125", align="center", valign="top")
                                      table(cellpadding="0", cellspacing="0", width="100%")
                                        tbody
                                          tr
                                            td.esd-block-spacer(align="center", height="40")
                              // [if mso]></td></tr></table><![endif]
              table.es-footer(cellpadding="0", cellspacing="0", align="center")
                tbody
                  tr
                    td.esd-stripe(align="center")
                      table.es-footer-body(bgcolor="#ffffff", align="center", cellpadding="0", cellspacing="0", width="600", style="background-color: #ffffff;")
                        tbody
                          tr
                            td.esd-structure.es-p30(align="left", bgcolor="#F5F5F5", style="background-color: #f5f5f5; border-radius: 0px 80px 0px 0px;")
                              table(cellpadding="0", cellspacing="0", width="100%")
                                tbody
                                  tr
                                    td.esd-container-frame(width="540", align="left")
                                      table(cellpadding="0", cellspacing="0", width="100%")
                                        tbody
                                          tr
                                            td.esd-block-social.es-p30t(align="center", style="font-size:0")
                                              table.es-table-not-adapt.es-social(cellpadding="0", cellspacing="0")
                                                tbody
                                                  tr
                                                    td.es-p30r(align="center", valign="top")
                                                      a(target="_blank", href="https://viewstripo.email")
                                                        img(src="https://zyshij.stripocdn.email/content/assets/img/social-icons/logo-black/facebook-logo-black.png", alt="Fb", title="Facebook", height="24")
                                                    td.es-p30r(align="center", valign="top")
                                                      a(target="_blank", href="https://viewstripo.email")
                                                        img(src="https://zyshij.stripocdn.email/content/assets/img/social-icons/logo-black/twitter-logo-black.png", alt="Tw", title="Twitter", height="24")
                                                    td.es-p30r(align="center", valign="top")
                                                      a(target="_blank", href="https://viewstripo.email")
                                                        img(src="https://zyshij.stripocdn.email/content/assets/img/social-icons/logo-black/instagram-logo-black.png", alt="Ig", title="Instagram", height="24")
                                                    td(align="center", valign="top")
                                                      a(target="_blank", href="https://viewstripo.email")
                                                        img(src="https://zyshij.stripocdn.email/content/assets/img/social-icons/logo-black/youtube-logo-black.png", alt="Yt", title="Youtube", height="24")
                                          tr
                                            td.esd-block-text.es-p30t.es-p30b(align="center", esd-links-underline="underline")
                                              p(style="line-height: 150%;") No longer want to receive these emails?
                                                br
                                                a(href, target="_blank", style="text-decoration: underline;") Unsubscribe
                                                | &amp;nbsp;or
                                                a(href="https://viewstripo.email", target="_blank", style="text-decoration: underline;") Manage Preferences
                                                br
                                                br
                                                | Copyright© 2022 Guarantee
                                                br
                                                | 7819 Grand Berry Green, Ah Fong Village, Michigan
                                                br
                                                | +(000) 123-456-789
                                                br
                                                br
                                                a(href="https://viewstripo.email", target="_blank", style="text-decoration: underline;") View this email in your browser.
              table.es-footer.esd-footer-popover(cellpadding="0", cellspacing="0", align="center")
                tbody
                  tr
                    td.esd-stripe(align="center")
                      table.es-footer-body(bgcolor="#ffffff", align="center", cellpadding="0", cellspacing="0", width="600")
                        tbody
                          tr
                            td.esd-structure.es-p20(align="left")
                              table(cellpadding="0", cellspacing="0", width="100%")
                                tbody
                                  tr
                                    td.esd-container-frame(width="560", align="left")
                                      table(cellpadding="0", cellspacing="0", width="100%")
                                        tbody
                                          tr
                                            td(align="center", class="esd-block-image es-infoblock made_with", style="font-size:0")
                                              a(target="_blank", href="https://viewstripo.email/?utm_source=templates&utm_medium=email&utm_campaign=fashion_8&utm_content=hot_prices")
                                                img(src="https://zyshij.stripocdn.email/content/guids/CABINET_09023af45624943febfa123c229a060b/images/7911561025989373.png", alt, width="125", style="display: block;")

     script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.js", integrity="sha512-rozBdNtS7jw9BlC76YF1FQGjz17qQ0J/Vu9ZCFIW374sEy4EZRbRcUZa2RU/MZ90X2mnLU56F75VfdToGV0RiA==", crossorigin="anonymous", referrerpolicy="no-referrer")
