<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" />
    <script src="https://kit.fontawesome.com/ccacb93191.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>Pretty Pastries</h1>
    </div>

     <div class="topnav">
         <a href="/">Home</a>
        <a href="/candy">Store</a>
        <a href="#">Link</a>
        <a href="/cart" style="float:right"><i class="fa-solid fa-cart-shopping"></i><span class="cart-items">0</span></a>
  </div>

  <div class="container">
    <div class="checkoutSuccessctn">
        <h1>Thank You</h1>
        <hr />
        <p>Your Purchase is complete</p>
        <p>You will receive an email with your invoice</p>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.js" integrity="sha512-rozBdNtS7jw9BlC76YF1FQGjz17qQ0J/Vu9ZCFIW374sEy4EZRbRcUZa2RU/MZ90X2mnLU56F75VfdToGV0RiA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/getSession.js"></script>
</body>
</html>