* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background-image: linear-gradient(purple, white)
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: purple;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(purple, white);
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
   

.card {
    margin: auto;
    
}

.card-text {
    color: black;
}

.nav-item {
    margin: 100px;
}

/* cart page */

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 100px;
    
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

h5 {
    color: black;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgrey ;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgrey ;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content:space-around ;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.product img {
    width: 50%;
    height: 10%;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}

.product .fa-circle-xmark {
    cursor: pointer;
}


.fa-plus, .fa-minus {
    cursor: pointer;
}

.buyBtnCtn {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.startCheckout {
    padding: 10px 20px;
    background-color: purple;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    transition: all 0,5s ease-in-out;
}

.startCheckout:hover {
    background-color: rgb(254, 5, 254);
}

/*---------------CHECKOUT SUCCESS ----------------*/

.checkoutSuccessCtn {
  background-color: rgb(224, 224, 224);
  text-align: center;
  padding: 40px;
  border-radius: 5px;
  margin: 0 auto;
}

.checkoutSuccessCtn h1 {
  margin-bottom: 10px;
}

.checkoutSuccessCtn {
  margin-bottom: 10px;
  font-size: 20px;
}